

.navbar {
    margin: 0;
    width: 100%;
    background-color: #0A83F5;
    list-style-type: none;
}

nav img{
    flex: left;
    height: 70px;
    width: 80px;
}

.nav-link {
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #BE1E2D;
    color: black;
    border-radius: 6px;
}

/* .nav-item:hover,
.nav-item:focus {
    color: black;
    border-radius: 6px;
} */

.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.dropdown-item {
    /* color: #BE1E2D; */
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #BE1E2D;
    color: black;
}

