body {
    background-color: #E7F3FE !important;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px
}

.badge-Verified          { background: #20c997; color: #fff; }
.badge-Missing\ Materials { background: #dc3545; color: #fff; }